SUPABASE_REST_URL=https://aoqudnezloywiauabnnt.supabase.co/rest/v1/
SUPABASE_ACCESS_TOKEN=
SUPABASE_SAVES_TABLE=saves
RESEND_API_KEY=
RESEND_FROM=JexonGo <onboarding@resend.dev>
ADMIN_EMAIL=jeanlouisahyee72@gmail.com
