SUPABASE_REST_URL=https://aoqudnezloywiauabnnt.supabase.co/rest/v1/
SUPABASE_ACCESS_TOKEN=
SUPABASE_SAVES_TABLE=saves
RESEND_API_KEY=
RESEND_FROM=JexonGo <onboarding@resend.dev>
ADMIN_EMAIL=jeanlouisahyee72@gmail.com
EMAILJS_PUBLIC_KEY=tKhT13eitJ6j1EdHo
EMAILJS_SERVICE_ID=service_se9vi2q
EMAILJS_FEEDBACK_TEMPLATE_ID=template_icrozxf
EMAILJS_NEW_PLAYER_SERVICE_ID=service_mdhv776
EMAILJS_NEW_PLAYER_TEMPLATE_ID=template_gl9depi
